$color-blue: #0a4d82;
$btn-color: #14a8b2;
$color-white: rgb(255, 255, 255);

$color-gray: #ccc;
$color-light-gray: #f8f8f8;
$color-black: rgb(0, 0, 0);

$footer-color: #395062;
$color-red: #f00;
$color-yellow: rgb(255, 187, 0);
