section {
  overflow: hidden;
}

.zoomimg {
  position: relative;
  overflow: hidden;
}
.zoomimg img {
  max-width: 100%;
  transition: 0.5s;
}
.zoomimg:hover img {
  transform: scale(1.1);
}

.zoom-card {
  height: 64px;
}
.zoom-card .zoom-service {
  position: relative;
  cursor: pointer;
  display: flex;
  transition: 0.5s;
}
.zoom-card .zoom-service img {
  max-width: 100%;
  transition: 0.5s;
}
.zoom-card .zoom-service span {
  padding-left: 10px;
  font-weight: 600;
}
.zoom-card .zoom-service span p {
  display: none;
}
.zoom-card:hover .zoom-service {
  z-index: 9;
  transform: scale(1.2);
}
.zoom-card:hover .zoom-service img {
  max-width: 50px;
  height: 50px;
}
.zoom-card:hover .zoom-service span {
  font-size: 14px;
}
.zoom-card:hover .zoom-service span p {
  display: block;
  font-size: 10px;
  margin-bottom: 0px;
}

div, p {
  font-size: 14px;
}

.heading {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 600;
  font-family: sans-serif;
  margin: 0px;
}

@media only screen and (max-width: 1024px) {
  .heading {
    font-size: 18px;
  }
}
@media only screen and (max-width: 767px) {
  .heading {
    font-size: 16px;
  }
}
.top-head {
  background-color: #139fae;
  height: 40px;
}
.top-head ul {
  list-style: none;
  float: right;
  padding-right: 2%;
}
.top-head ul li {
  float: left;
  padding-right: 20px;
}
.top-head ul li a {
  text-decoration: none;
}
.top-head ul li a .appdownload {
  width: 20px;
  margin: 9px 0px;
  float: left;
}
.top-head ul li a .call {
  width: 23px;
  margin: 9px 3px;
  float: left;
}
.top-head ul li a span {
  padding: 8px 5px;
  display: inline-block;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.top-head ul .toll-free span {
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 16px;
}
.top-head ul .login a {
  float: right;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
  margin: 8px 10px 0px 0px;
}
.top-head ul .profile-icon a {
  float: left;
  color: rgb(255, 255, 255);
  margin: 8px 10px 0px 0px;
}
.top-head ul .profile-icon a i {
  text-align: left;
}
.top-head ul .profile-icon a span {
  text-align: left;
  padding: 0px 4px;
}
.top-head ul .profile-ddp {
  min-width: 200px;
  height: auto;
  padding: 0px 0 0;
  background-color: #139fae;
  right: 4%;
  position: absolute;
  top: 40px;
  display: none;
  z-index: 99991;
}
.top-head ul .profile-ddp ul {
  list-style: none;
  padding: 0px;
  margin: 0;
  width: 100%;
}
.top-head ul .profile-ddp ul li {
  display: block;
  float: none;
  padding-right: 0px;
}
.top-head ul .profile-ddp ul li a {
  display: block;
  text-decoration: none;
  padding: 10px 10px;
  display: block;
  border-bottom: 1px solid #ccc;
  color: rgb(255, 255, 255);
}
.top-head .top-head-left {
  padding: 8px 5px 8px 7%;
  display: inline-block;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .top-head ul {
    list-style: none;
    float: right;
    width: 100%;
    padding: 0px;
  }
  .top-head ul li {
    float: left;
    padding-right: 10px;
  }
  .top-head ul li a {
    text-decoration: none;
  }
  .top-head ul li a span {
    padding: 8px 5px;
    display: inline-block;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  .top-head ul .app-download {
    display: none;
  }
  .top-head ul .toll-free {
    padding-right: 0px;
  }
  .top-head ul .toll-free .call {
    width: 23px;
    margin: 9px 3px;
    float: left;
  }
  .top-head ul .toll-free span {
    font-size: 14px;
  }
  .top-head ul .login a {
    padding-left: 30px;
    margin: 8px 0px 0px 0px;
  }
  .top-head .top-head-left {
    padding: 8px 5px;
    display: inline-block;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
}
@media only screen and (max-width: 767px) {
  .top-head ul {
    padding: 0px;
  }
  .top-head ul li {
    padding-right: 0px;
  }
  .top-head ul .app-download {
    display: none;
  }
  .top-head ul .toll-free .call {
    width: 18px;
    margin: 9px 0px;
  }
  .top-head ul .toll-free span {
    font-size: 13px;
  }
  .top-head ul .login {
    float: right;
  }
  .top-head ul .login a {
    padding-left: 5px;
    font-size: 13px;
    margin: 8px 0px 0px 0px;
  }
  .top-head ul .profile-icon {
    float: right;
  }
  .top-head ul .profile-ddp {
    min-width: 200px;
    right: 0%;
    top: 40px;
  }
  .top-head ul .profile-ddp ul li a {
    padding: 10px 10px;
  }
  .top-head .top-head-left {
    display: none;
  }
}
.head {
  position: relative;
  box-shadow: 0px 0px 2px #ccc;
  position: relative;
}
.head .logo {
  width: 185px;
  margin-left: 30px;
  padding: 5px 15px 5px;
  margin-top: 5px;
  display: inline-block;
  text-decoration: none;
}
.head .logo img {
  width: 66px;
}
.head .logo h3 {
  margin-top: 10px;
  font-size: 36px;
  color: #0a4d82;
}
.head .btn {
  background-color: #14a8b2;
  color: rgb(255, 255, 255);
}
.head #sideNav {
  display: none;
}
.head .head-search {
  position: absolute;
  top: 24px;
  width: 30%;
  left: 22%;
}
.head .head-search .btn i {
  display: none;
}
.head .header-menu {
  text-align: right;
  padding-right: 10%;
}
.head .header-menu ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.head .header-menu ul li {
  float: right;
  list-style: none;
  padding: 22px 0px;
  margin-right: 23%;
}
.head .header-menu ul li a {
  padding: 10px 15px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  color: rgb(255, 255, 255);
  background-color: #139fae;
  border-radius: 40px;
}
.head .header-menu ul li a:hover {
  color: rgb(0, 0, 0);
}
.head .header-menu ul li .dropdown-on-hover {
  width: 92%;
  display: none;
  border-top: 1px solid #ccc;
  box-shadow: 0px 2px 2px #c7c7c7;
  padding: 20px;
  background-image: linear-gradient(to right, #f5f5f5, #f6f5f6);
  min-height: 100px;
  position: absolute;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  top: 85px !important;
  z-index: 99999;
}
.head .header-menu ul li .dropdown-on-hover .ddp-inner {
  padding: 0 10px 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 400px;
  float: left;
  width: auto;
}
.head .header-menu ul li .dropdown-on-hover .ddp-inner ul {
  width: 200px;
  padding-right: 15px;
}
.head .header-menu ul li .dropdown-on-hover .ddp-inner ul p {
  text-align: left;
  margin: 10px 40px 0px 0px;
  padding-left: 0px;
  margin-right: 40px;
}
.head .header-menu ul li .dropdown-on-hover .ddp-inner ul li {
  display: block;
  float: none;
  text-align: left;
  padding: 0px;
  margin-right: 0px;
}
.head .header-menu ul li .dropdown-on-hover .ddp-inner ul li a {
  padding: 2px 0px;
  background-color: inherit;
  color: #000;
  text-transform: inherit;
  font-size: 12px;
}
.head .header-menu ul li .dropdown-on-hover .ddp-inner ul li a img {
  width: 20px;
  margin-right: 5px;
}
.head .header-menu ul li .dropdown-on-hover .ddp-inner ul li a:hover {
  opacity: 0.5;
}
.head .header-menu ul li:hover .dropdown-on-hover {
  display: block;
}
.head .cart {
  position: absolute;
  top: 24px;
  width: 5%;
  right: 2%;
}
.head .cart a {
  position: relative;
}
.head .cart a span {
  position: absolute;
  top: -12px;
  right: -16px;
}

@media screen and (max-width: 1024px) {
  .head .logo {
    width: 185px;
    margin-left: 30px;
    padding: 5px 15px 5px;
    margin-top: 5px;
    display: inline-block;
    text-decoration: none;
  }
  .head .logo img {
    width: 50px;
  }
  .head .logo h3 {
    margin-top: 0px;
    font-size: 22px;
    color: #0a4d82;
  }
  .head #sideNav {
    display: none;
  }
  .head .head-search {
    position: absolute;
    top: 15px;
    width: 45%;
    left: 22%;
    margin-bottom: 10px;
  }
  .head .header-menu {
    padding-right: 0%;
  }
  .head .header-menu ul li {
    padding: 15px 0px;
  }
  .head .header-menu ul li a {
    padding: 10px 8px;
    font-size: 13px;
    text-transform: uppercase;
  }
  .head .header-menu ul li a img {
    width: 25px;
  }
  .head .header-menu ul li .dropdown-on-hover {
    top: 70px !important;
    overflow-x: scroll;
  }
  .head .header-menu ul li .dropdown-on-hover {
    display: none;
  }
  .head .cart {
    top: 18px;
    width: 50px;
    right: 3%;
  }
}
@media only screen and (max-width: 767px) {
  .head {
    position: relative;
  }
  .head .logo {
    width: 120px;
    margin-left: 20px;
    padding: 5px 0px 5px;
    margin-top: 7px;
  }
  .head .logo img {
    width: 30px;
  }
  .head #sideNav {
    display: block;
    position: absolute;
    left: 12px;
    top: 17px;
    font-size: 15px;
    z-index: 9;
  }
  .head .head-search {
    top: 6px;
    width: 70%;
    left: 17%;
    margin-bottom: 10px;
    position: absolute;
  }
  .head .head-search .btn i {
    display: block;
  }
  .head .head-search .btn span {
    display: none;
  }
  .head .header-menu {
    text-align: left;
    padding-right: 0px;
    position: absolute;
    background-color: #139fae;
    width: 100%;
    height: 100vh;
    z-index: 9;
    left: -105%;
    transition: all 0.5s;
  }
  .head .header-menu ul li {
    display: block;
    position: relative;
    margin-right: 0px;
    padding: 0;
    float: none;
  }
  .head .header-menu ul li a {
    padding: 12px 15px;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    color: rgb(255, 255, 255);
    background-color: inherit;
    border-radius: 0px;
  }
  .head .header-menu ul li a i {
    float: right;
    margin-top: 5px;
  }
  .head .header-menu ul li .dropdown-on-hover {
    display: none;
    position: relative;
    width: 100%;
    padding: 0px 0px;
    box-shadow: 0px 0px 0px rgb(0, 0, 0);
    background-color: #ccc;
    transform: none;
    animation: none;
    opacity: 1;
    top: 0px !important;
    max-height: 100%;
    overflow-y: scroll;
  }
  .head .header-menu ul li .dropdown-on-hover .ddp-inner {
    padding: 0 0px 10px;
    display: block;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 400px;
    float: left;
    width: 100%;
  }
  .head .header-menu ul li .dropdown-on-hover .ddp-inner ul {
    width: 100%;
    padding-right: 0px;
  }
  .head .header-menu ul li .dropdown-on-hover .ddp-inner ul p {
    text-align: left;
    margin: 10px 0px 0px;
    padding-left: 10px;
    padding-bottom: 5px;
  }
  .head .header-menu ul li .dropdown-on-hover .ddp-inner ul li {
    display: block;
  }
  .head .header-menu ul li .dropdown-on-hover .ddp-inner ul li a {
    padding: 3px 10px;
    border-bottom: 0px solid #ccc;
    text-transform: inherit;
    font-size: 12px;
    color: rgb(0, 0, 0);
  }
  .head .header-menu ul li .dropdown-on-hover .ddp-inner ul li a img {
    width: 20px;
    margin-right: 5px;
  }
  .head .header-menu ul li:hover .dropdown-on-hover {
    transition: 0.5s;
  }
  .head .add-mob-menu {
    left: 0%;
    position: absolute;
    z-index: 99999;
  }
  .head .cart {
    top: 14px;
    width: 50px;
    right: 2%;
  }
  .head .cart a img {
    width: 22px;
  }
}
.menu {
  position: relative;
  width: 100%;
  display: table;
  position: sticky;
  z-index: 9999;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.menu .nav {
  width: 92%;
  height: 55px;
  margin: 0px auto;
  padding: 5px 10px;
}
.menu .nav li {
  display: inline-block;
  padding: 0px 0px;
  text-align: center;
}
.menu .nav li a {
  color: #0a4d82;
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 500;
  float: left;
  width: auto;
  padding: 5px 37px;
  text-decoration: none;
}
.menu .nav li a img {
  width: 35px;
  margin-right: 5px;
}
.menu .is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  animation: 0.95s ease-in-out 0s normal none 1 running fadeInDown;
  z-index: 999;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

@media screen and (max-width: 1024px) {
  .menu .nav {
    width: 98%;
    height: 50px;
    margin: 0px auto;
    padding: 5px 10px;
    overflow: scroll;
  }
  .menu .nav li {
    display: inline-block;
    padding: 0px 0px;
  }
  .menu .nav li a {
    width: auto;
    padding: 5px 10px;
  }
  .menu .nav li a img {
    width: 25px;
  }
}
.slide {
  background-image: url(../images/banner.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
}
.slide img {
  width: 100%;
  height: 350px;
}
.slide .banner-text {
  color: rgb(255, 255, 255);
  margin-top: 60px;
}
.slide .banner-text h1 {
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 13px;
  animation: 1s ease-in-out 0.5s normal both 1 running fadeInDown;
}
.slide .banner-text p {
  line-height: 23px;
  margin-bottom: 35px;
  padding-right: 110px;
  animation: 1s ease-in-out 0.5s normal both 1 running rotateInUpLeft;
}

@media only screen and (max-width: 767px) {
  .slide {
    max-height: 135px;
  }
  .slide img {
    width: 100%;
    height: 130px;
  }
}
.animation_images {
  animation-timing-function: cubic-bezier(0.54, 0.085, 0.5, 0.92);
  animation-name: animateUpDown;
  animation-iteration-count: infinite;
}

.animation_images.one {
  animation-duration: 3.2s;
}

.animation_images.two {
  animation-duration: 3.8s;
}

.animation_images.three {
  animation-duration: 3.4s;
}

.animation_images.four {
  animation-duration: 3.4s;
}

@keyframes animateUpDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0px);
  }
}
/************************************************/
footer .footerplus {
  display: none;
}

footer {
  position: relative;
  width: 100%;
  letter-spacing: 0.3px;
  min-height: 100px;
  padding: 30px 0px 0px;
  background-color: #395062;
  clear: both;
  color: #ddd;
}
footer .container-fluid {
  width: 93%;
}
footer .container-fluid .footer-contant {
  padding: 10px 5px;
  color: rgb(255, 255, 255);
  font-size: 12px;
}
footer .container-fluid .footer-contant h3 {
  padding: 0px 0px 15px;
  border-bottom: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
footer .container-fluid .footer-contant ul {
  padding: 0px;
  list-style: none;
}
footer .container-fluid .footer-contant ul li a {
  color: rgb(255, 255, 255);
  transition: 0.2s;
  font-size: 13px;
  text-decoration: none;
  padding: 0px 0px 2px;
  display: block;
}
footer .container-fluid .footer-contant ul li a:hover {
  color: rgb(0, 0, 0);
}
footer .container-fluid .footer-contant .btn {
  background-color: #14a8b2;
  color: rgb(255, 255, 255);
}
footer .all-right {
  width: 90%;
  margin: 0px auto;
  padding: 20px 0px;
  min-height: 50px;
  border-top: 1px solid #b1b1bb;
  text-align: center;
  font-size: 12px;
}
footer .all-right p {
  color: #fff;
  font-size: 13px;
}
footer .all-right a {
  color: #74b4f9;
  text-decoration: none;
}
footer .all-right .social {
  margin: 0px 0px;
  width: auto;
  float: left;
}
footer .all-right .social h5 {
  margin: 0;
  padding: 0px 0px 10px 0px;
  font-size: 18px;
}
footer .all-right .social a {
  height: 30px;
  width: 30px;
  border-radius: 51%;
  display: inline-block;
  margin: 3px;
}
footer .all-right .social a img {
  transition: 0.5s;
  width: 30px;
  height: 30px;
}
footer .all-right .social a:hover {
  transform: rotate(360deg);
}
footer .all-right .accept-card h5 {
  margin: 0;
  padding: 0px 0px 10px 48%;
  font-size: 18px;
}
footer .all-right .accept-card a {
  height: 30px;
  margin: 2px;
}
footer .all-right .accept-card a img {
  width: auto;
  height: 30px;
  border: 1px solid #ccc;
}

@media only screen and (max-width: 767px) {
  footer {
    padding: 30px 0px 0px;
  }
  footer .container-fluid {
    width: 100%;
  }
  footer .container-fluid .footer-contant {
    padding: 10px 5px;
  }
  footer .container-fluid .footer-contant h3 {
    padding: 0px 0px 15px;
    font-size: 12px;
  }
  footer .container-fluid .footer-contant ul {
    padding: 0px;
    list-style: none;
  }
  footer .container-fluid .footer-contant ul li a {
    font-size: 12px;
  }
  footer .all-right {
    padding: 20px 0px;
    min-height: 50px;
  }
  footer .all-right .accept-card h5 {
    margin: 0;
    padding: 0px 0px 10px 0%;
    font-size: 18px;
  }
  footer .all-right .accept-card a {
    height: 30px;
    margin: 2px;
  }
  footer .all-right .accept-card a img {
    height: 28px;
  }
}
.get-qt-side {
  position: fixed;
  z-index: 998;
  bottom: 50%;
  width: auto;
  right: 0px;
  display: none;
}

.get-qt-side-all {
  position: fixed;
  z-index: 998;
  bottom: 50%;
  width: auto;
  right: 0px;
}

.scroll-top {
  position: fixed;
  z-index: 998;
  bottom: 5px;
  width: 60px;
  text-align: right;
  right: 10px;
  display: none;
}

.form-control:focus {
  box-shadow: 0 0 0 0rem rgba(13, 110, 253, 0.25);
}

.add-to-cart-success {
  position: absolute;
  width: 400px;
  max-width: 90%;
  top: 100px;
  margin: 0px auto;
  left: 0px;
  right: 0px;
  z-index: 99999;
}

@media only screen and (max-width: 767px) {
  .scroll {
    width: 100%;
    overflow-x: scroll;
  }
  .scroll .scroll-max-width {
    width: -moz-max-content;
    width: max-content;
  }
}/*# sourceMappingURL=common.css.map */